#login{
    text-align:center;
}

.avatars{
    margin-top:20px;
}

.msgTime{
    color:#000;
}

.status {
    float: left;
    margin-top: -1em;
}

#logout {
    margin-top: -1.2em;
}

.chatterContainer{
    text-align:center
}

.chatterContainer > div:first-of-type{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 350px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

    .msgTime{
        font-size: 10px;
    }
    .logoutBtn{
        margin-top: 40% !important;
    }
    .header-alert{
        max-height: 40px;
    }
    .panel-heading {
        height: 80px;
    }

}

